*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.patt{
    block-size: 165px;
    background-color:lightskyblue;
    background-image: url("./img/pattern.png");
    background-repeat: repeat-x;   

}
.gri{
    color:gray;
}
.intro{
    color: aqua;
}
.tag{
    font-size: smaller;}

.jaune{
background-color: yellow;}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
    background-color:dodgerblue ;
}
td{
    padding:5px;
    margin: 5px;
}
.col{
background-color: powderblue;
}