*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.patt{
    background-image: url("../html-giornale/img/pattern.png");
    background-color:dodgerblue;
    background-repeat: repeat-x;
}
.intro{
    color: aqua;
}
.tag{
    font-size: smaller;}
body{
    font-size: small;
    }

.jaune{
background-color: yellow;}
table{
    width: 100%;
}
td{
    padding:5px;
    margin: 5px;
}
